.navbar-custom {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: transparent;
  height: 70px;

  .nav-set {
    margin: 0 25%;
    height: 100%;

    .nav-logo {
      width: 20px;
      transition: ease 0.3s;
      vertical-align: -webkit-baseline-middle;

      &:hover {
        width: 30px;
      }
    }

    .nav-link {
      color: #000;
      font-size: 15px;
      font-weight: 400;
      display: inline-block;
      position: relative;

      &:hover {
        color: $orange;

        &::after {
          width: 100%;
          left: 0;
        }
      }

      &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $orange;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &.active {
        color: $orange;

        &::after {
          width: 100%;
          left: 0;
        }
      }
    }

    .dropdown {
      .dropdown-content {
        border-radius: 5px;
        display: none;
        position: absolute;
        background-color: #fff;
        width: max-content;
        z-index: 1;

        a {
          float: none;
          color: #000;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          position: relative;

          &:hover {
            color: $orange;

            &::after {
              width: 100%;
              left: 0;
            }
          }
    
          &::after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $orange;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
        }
      }

      &:hover {
        .dropdown-content {
          display: block;
        }
      }
    }
  }
}

.section1 {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .bg-head {
    background-image: url(../images/bg-head.png);
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: -10;
    height: 100%;
  }

  .around-the-moon {
    position: absolute;
    right: 2rem;
    bottom: 405px;
    width: 23%;
    z-index: -9;
    animation: circle 20s linear infinite;
  }

  .cloud-img {
    position: absolute;
    width: 65%;
    bottom: 5%;
    z-index: -8;
    animation: left_to_right 45s linear infinite;
  }

  .box-head {
    padding: 15% 15% 0;

    h1 {
      text-transform: uppercase;
      font-size: 70px;
      margin: unset;
      font-weight: 500;

      img {
        width: 32px;
        margin-right: 5px;
        vertical-align: unset;
      }

      span {
        background: linear-gradient(#f19c1d, #e53d09);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      font-size: 25px;
      font-weight: 300;
    }

    .btn-link {
      font-size: 15px;
      font-weight: 300;
      border-radius: 25px;
      border: 2px solid #000;
      color: #000;
      text-decoration: none;
      height: 50px;
      line-height: 35px;
      transition: ease 0.3s;

      &:hover {
        // background: $orange;
        color: $orange;
        border-color: $orange;
      }

      &:focus {
        box-shadow: unset;
      }
    }
  }
}

.section2 {
  height: 100%;
  padding-top: 5rem;

  .about-us {
    padding: 0 10% 0 15%;
  }

  .spin-circle {
    position: absolute;
    right: 25%;
    z-index: -10;
    top: 19%;
    width: 45%;
    animation: circle 10s linear infinite;
  }

  .why-choose {
    padding: 5rem 5rem 0;

    .box-why {
      display: flex;
      margin: 2rem 0;
    }

    .box-icon {
      margin-right: 2rem;
      padding-top: 10px;

      img {
        width: 40px;
      }
    }

    .box-text {
      width: 245px;

      h5 {
        font-size: 30px;
        font-weight: 400;
      }

      p {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: unset;
      }
    }
  }

  .about-us-footer {
    margin: 3rem 20%;

    .set-pad {
      text-align: center;
      padding: 0 2rem;
    }

    .text-about-footer {
      margin: 5rem 0;
      text-align: center;
      color: $orange;
      font-size: 40px;
      font-weight: 400;
    }
  }
}

.section3 {
  // padding: 5rem 0;
  padding-top: 5rem;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .line-animate {
    position: absolute;
    width: 25%;
    animation: top-right-to-bottom-left 5s infinite;
  }

  .our-service {
    padding: 3rem 15% 0;

    .box-service {
      display: flex;

      .service-icon {
        margin-right: 1rem;

        img {
          width: 56px;
        }
      }

      .service-text {
        padding-left: 1rem;
        border-left: 1px solid $gray;

        h5 {
          font-size: 20px;
          font-weight: 400;
        }

        p {
          font-size: 15px;
          font-weight: 300;
          margin: unset;
        }

        a {
          margin-top: 10px;
          position: absolute;
          color: #000;
          font-size: 15px;
          font-weight: 300;

          &:hover {
            text-decoration: none;
          }

          img {
            vertical-align: unset;
          }
        }
      }
    }
  }
}

.text-main {
  font-size: 40px;
  font-weight: 400;
  inline-size: fit-content;
  border-bottom: 1px solid $gray;
}

.text-detail {
  font-size: 20px;
  font-weight: 300;
}

// animation
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes left_to_right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(150%);
  }
}

@keyframes top-right-to-bottom-left {
  0% {
    top: -30%;
    right: -23%;
    opacity: 0;
  }
  50% {
    top: 10%;
    right: -3%;
    opacity: 1;
  }
  100% {
    top: -30%;
    right: -23%;
    opacity: 0;
  }
}
