.navbar-custom {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: transparent;
  height: 70px;

  .nav-set {
    margin: 0 25%;
    height: 100%;

    .nav-logo {
      width: 20px;
      transition: ease 0.3s;
      vertical-align: -webkit-baseline-middle;

      &:hover {
        width: 30px;
      }
    }

    .nav-link {
      color: #000;
      font-size: 15px;
      font-weight: 400;
      display: inline-block;
      position: relative;

      &:hover {
        color: $orange;

        &::after {
          width: 100%;
          left: 0;
        }
      }

      &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $orange;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &.active {
        color: $orange;

        &::after {
          width: 100%;
          left: 0;
        }
      }
    }

    .dropdown {
      .dropdown-content {
        border-radius: 5px;
        display: none;
        position: absolute;
        background-color: #fff;
        width: max-content;
        z-index: 1;

        a {
          float: none;
          color: #000;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
          position: relative;

          &:hover {
            color: $orange;

            &::after {
              width: 100%;
              left: 0;
            }
          }

          &::after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: $orange;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
        }
      }

      &:hover {
        .dropdown-content {
          display: block;
        }
      }
    }
  }
}