@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
}

.mobile-nav {
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 99;
  margin-top: 15px;
  margin-right: 15px;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.mobile-nav.nav-open {
  right: 50%;
}

@media screen and (min-width: 500px) {
  .mobile-nav.nav-open {
    right: 30%;
  }
}

.mobile-nav-slide {
  height: 100%;
  position: fixed;
  width: 50%;
  background: #000;
  right: -50%;
  top: 0;
  bottom: 0;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  z-index: 99;
}

@media screen and (min-width: 500px) {
  .mobile-nav-slide {
    width: 30%;
  }
}

.mobile-nav-slide ul {
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-nav-slide ul .slide-link {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  display: block;
  padding: 1rem 0 0 1rem;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  text-decoration: none;
}

.mobile-nav-slide ul .slide-link:hover {
  color: #E88431;
}

.mobile-nav-slide.nav-open {
  right: 0;
}

.navbar-custom {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: transparent;
  height: 70px;
}

.navbar-custom .nav-set {
  margin: 0 25%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .navbar-custom .nav-set {
    margin: 0 15%;
  }
}

.navbar-custom .nav-set .nav-logo {
  width: 20px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  vertical-align: -webkit-baseline-middle;
}

.navbar-custom .nav-set .nav-logo:hover {
  width: 30px;
}

.navbar-custom .nav-set .nav-link {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  position: relative;
}

.navbar-custom .nav-set .nav-link:hover {
  color: #E88431;
}

.navbar-custom .nav-set .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.navbar-custom .nav-set .nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #E88431;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-custom .nav-set .nav-link.active {
  color: #E88431;
}

.navbar-custom .nav-set .nav-link.active::after {
  width: 100%;
  left: 0;
}

.navbar-custom .nav-set .dropdown .dropdown-content {
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1;
}

.navbar-custom .nav-set .dropdown .dropdown-content a {
  float: none;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
}

.navbar-custom .nav-set .dropdown .dropdown-content a:hover {
  color: #E88431;
}

.navbar-custom .nav-set .dropdown .dropdown-content a:hover::after {
  width: 100%;
  left: 0;
}

.navbar-custom .nav-set .dropdown .dropdown-content a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #E88431;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-custom .nav-set .dropdown:hover .dropdown-content {
  display: block;
}

.scroll-show {
  background: #fff;
}

@media screen and (max-width: 800px) {
  .scroll-show {
    background: transparent;
  }
}

.section1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .section1 {
    height: 70vh;
  }
}

@media screen and (max-width: 500px) {
  .section1 {
    height: 50vh;
  }
}

.section1 .bg-head {
  background-image: url(../images/bg-head.png);
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  z-index: -10;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .section1 .bg-head {
    background-size: 150%;
    background-position-x: 80%;
  }
}

.section1 .around-the-moon {
  position: absolute;
  right: 2rem;
  bottom: 405px;
  width: 23%;
  z-index: -9;
  -webkit-animation: circle 20s linear infinite;
          animation: circle 20s linear infinite;
}

@media screen and (max-width: 1200px) {
  .section1 .around-the-moon {
    bottom: 270px;
  }
}

@media screen and (max-width: 800px) {
  .section1 .around-the-moon {
    bottom: 200px;
  }
}

@media screen and (max-width: 500px) {
  .section1 .around-the-moon {
    right: -35px;
    bottom: 130px;
    width: 35%;
  }
}

.section1 .cloud-img {
  position: absolute;
  width: 65%;
  bottom: 5%;
  z-index: -8;
  -webkit-animation: left_to_right 45s linear infinite;
          animation: left_to_right 45s linear infinite;
}

@media screen and (max-width: 500px) {
  .section1 .cloud-img {
    width: 80%;
  }
}

.section1 .box-head {
  padding: 15% 15% 0;
}

.section1 .box-head .line {
  position: relative;
  width: 22rem;
  border-right: 5px solid #e88431;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section1 .box-head h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 1rem;
  -webkit-animation: typeWrite 2s steps(40) 1s 1 normal both, blinkTextCursor 1s steps(40) infinite normal;
          animation: typeWrite 2s steps(40) 1s 1 normal both, blinkTextCursor 1s steps(40) infinite normal;
}

.section1 .box-head h1 img {
  width: 32px;
  margin-right: 5px;
  vertical-align: unset;
}

.section1 .box-head h1 span {
  background: -webkit-gradient(linear, left top, left bottom, from(#f19c1d), to(#e53d09));
  background: linear-gradient(#f19c1d, #e53d09);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1 .box-head p {
  font-size: 25px;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .section1 .box-head {
    padding: 15% 10% 0;
  }
}

@media screen and (max-width: 800px) {
  .section1 .box-head {
    padding: 10% 10% 0;
  }
}

@media screen and (max-width: 500px) {
  .section1 .box-head {
    padding: 20% 2rem 0;
  }
  .section1 .box-head .line {
    width: 13rem;
  }
  .section1 .box-head h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: unset;
  }
  .section1 .box-head h1 img {
    width: 18px;
  }
  .section1 .box-head p {
    font-size: 12px;
  }
}

.section1 .box-head .btn-link {
  font-size: 15px;
  font-weight: 300;
  border-radius: 25px;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  height: 50px;
  line-height: 35px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.section1 .box-head .btn-link:hover {
  color: #E88431;
  border-color: #E88431;
}

.section1 .box-head .btn-link:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

@media screen and (max-width: 500px) {
  .section1 .box-head .btn-link {
    display: none;
  }
}

.section2 {
  height: 100%;
  padding-top: 5rem;
}

.section2 .about-us {
  padding: 0 10% 0 15%;
}

@media screen and (max-width: 1200px) {
  .section2 .about-us {
    padding: 0 5% 0 10%;
  }
}

@media screen and (max-width: 800px) {
  .section2 .about-us {
    padding-left: 10%;
  }
}

@media screen and (max-width: 500px) {
  .section2 .about-us {
    padding: 0 2rem;
  }
}

.section2 .spin-circle {
  position: absolute;
  right: 25%;
  z-index: -10;
  top: 24%;
  width: 45%;
  -webkit-animation: circle 10s linear infinite;
          animation: circle 10s linear infinite;
}

@media screen and (max-width: 1440px) {
  .section2 .spin-circle {
    top: 27%;
  }
}

@media screen and (max-width: 1200px) {
  .section2 .spin-circle {
    top: 30%;
  }
}

@media screen and (max-width: 800px) {
  .section2 .spin-circle {
    top: 22%;
  }
}

.section2 .cat-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .why-choose {
  padding: 5rem 5rem 0;
}

.section2 .why-choose .box-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.section2 .why-choose .box-icon {
  margin-right: 2rem;
  padding-top: 10px;
}

.section2 .why-choose .box-icon img {
  width: 40px;
}

.section2 .why-choose .box-text {
  width: 245px;
}

.section2 .why-choose .box-text h5 {
  font-size: 30px;
  font-weight: 400;
}

.section2 .why-choose .box-text p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: unset;
}

@media screen and (max-width: 1200px) {
  .section2 .why-choose {
    padding: 2rem 5rem 0;
  }
  .section2 .why-choose .box-why {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .why-choose .box-text h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .section2 .why-choose {
    padding: 3rem 10% 1rem;
  }
  .section2 .why-choose .box-why {
    margin: 1rem 0;
  }
  .section2 .why-choose .box-text {
    width: 400px;
  }
  .section2 .why-choose .box-text h5,
  .section2 .why-choose .box-text p {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .section2 .why-choose {
    padding: 3rem 1rem 1rem;
  }
  .section2 .why-choose .box-text {
    width: 245px;
  }
}

.section2 .about-us-footer {
  margin: 3rem 20%;
}

.section2 .about-us-footer .set-pad {
  text-align: center;
  padding: 0 2rem;
}

.section2 .about-us-footer .text-about-footer {
  margin: 5rem 0;
  text-align: center;
  color: #E88431;
  font-size: 40px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .section2 .about-us-footer {
    margin: 3rem 15%;
  }
  .section2 .about-us-footer .text-about-footer {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .section2 .about-us-footer {
    margin: 1rem 10%;
  }
  .section2 .about-us-footer .text-about-footer {
    margin: 2rem 0;
    font-size: 18px;
  }
  .section2 .about-us-footer .set-pad {
    text-align: left;
    text-indent: unset;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .section2 .about-us-footer {
    margin: 0 1rem;
  }
  .section2 .about-us-footer .text-about-footer {
    margin: 1rem 0;
  }
}

.section3 {
  padding: 5rem 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .section3 {
    padding: 3rem 10% 0;
  }
}

.section3 .line-animate {
  position: absolute;
  width: 25%;
  right: -3%;
  -webkit-animation: top-right-to-bottom-left 5s infinite;
          animation: top-right-to-bottom-left 5s infinite;
}

@media screen and (max-width: 800px) {
  .section3 .line-animate {
    width: 30%;
  }
}

.section3 .our-service {
  padding: 3rem 15% 0;
}

.section3 .our-service .box-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .our-service .box-service .service-icon {
  margin-right: 1rem;
}

.section3 .our-service .box-service .service-icon img {
  width: 56px;
}

.section3 .our-service .box-service .service-text {
  padding-left: 1rem;
  border-left: 1px solid #C5C5C5;
}

.section3 .our-service .box-service .service-text h5 {
  font-size: 20px;
  font-weight: 400;
}

.section3 .our-service .box-service .service-text p {
  font-size: 15px;
  font-weight: 300;
  margin: unset;
}

.section3 .our-service .box-service .service-text a {
  margin-top: 10px;
  position: absolute;
  color: #000;
  font-size: 15px;
  font-weight: 300;
}

.section3 .our-service .box-service .service-text a:hover {
  text-decoration: none;
  color: #E88431;
}

@media screen and (max-width: 1200px) {
  .section3 .our-service {
    padding: 1rem 10% 0;
  }
  .section3 .our-service .box-service .service-icon img {
    width: 40px;
  }
  .section3 .our-service .box-service .service-text h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .section3 .our-service {
    padding: unset;
  }
}

@media screen and (max-width: 500px) {
  .section3 .our-service {
    padding: 3rem 1rem 1rem;
  }
  .section3 .our-service .box-service {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
  }
  .section3 .our-service .box-service .service-icon {
    margin-right: unset;
    margin-bottom: 1rem;
  }
  .section3 .our-service .box-service .service-text {
    padding-left: unset;
    border: unset;
  }
  .section3 .our-service .box-service .service-text h5 {
    font-size: 15px;
  }
  .section3 .our-service .box-service .service-text a {
    position: unset;
  }
}

.section4 {
  padding-top: 5rem;
}

@media screen and (max-width: 800px) {
  .section4 {
    padding-top: 3rem;
  }
}

.section4 .thank-your {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: unset;
  font-size: 15px;
  font-weight: 300;
  color: #000;
}

.section4 .box-partner {
  padding: 3rem 15%;
}

@media screen and (max-width: 1200px) {
  .section4 .box-partner {
    padding: 1rem 10%;
  }
}

@media screen and (max-width: 500px) {
  .section4 .box-partner {
    padding: 1rem 2rem;
  }
}

.section4 .box-partner .partner-logo {
  max-width: 100%;
  padding: 1rem;
  margin: auto;
  height: 136px;
  width: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.section4 .box-partner .partner-logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section4 .box-partner .partner-logo:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.section6 {
  padding: 3rem 15%;
}

@media screen and (max-width: 1200px) {
  .section6 {
    padding: 3rem 10%;
  }
}

@media screen and (max-width: 500px) {
  .section6 {
    padding: 3rem 0 1rem;
  }
}

.section6 .hover-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
}

.section6 .hover-img::before {
  font-size: 25px;
  font-weight: 300;
  position: absolute;
  content: "see more";
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  opacity: 0;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.section6 .hover-img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.section6 .hover-img:hover::before {
  opacity: 1;
}

.section6 .owl-work {
  position: relative;
  overflow: hidden;
}

.section6 .owl-work .owl-nav {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.section6 .owl-work .owl-nav .owl-prev,
.section6 .owl-work .owl-nav .owl-next {
  font-size: 70px;
  color: #E88431;
  background: transparent;
  font-weight: 300;
}

.section6 .owl-work .owl-dots {
  margin-top: 1rem;
}

.section6 .owl-work .owl-dots .owl-dot.active span, .section6 .owl-work .owl-dots .owl-dot:hover span {
  background: #E88431 !important;
}

.section6 .owl-work .owl-dots .owl-dot span {
  background: #C5C5C5;
}

.section7 {
  padding: 4rem 15%;
}

@media screen and (max-width: 1200px) {
  .section7 {
    padding: 4rem 10%;
  }
}

@media screen and (max-width: 500px) {
  .section7 {
    padding: 3rem 2rem;
  }
}

.section7 .box-form {
  margin-top: 3rem;
}

.section7 .box-form h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}

.section7 .box-form label {
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  .section7 .box-form h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 800px) {
  .section7 .box-form {
    margin-top: 2rem;
  }
  .section7 .box-form h2 {
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .section7 .box-form label {
    font-size: 15px;
  }
}

.section7 .box-form input,
.section7 .box-form textarea {
  border-radius: 5px;
  background: #f3f3f3;
  border: unset;
  margin-bottom: 1rem;
  color: #000;
}

.section7 .box-form input:focus,
.section7 .box-form textarea:focus {
  -webkit-box-shadow: 0 0 0 0.1rem #E88431;
          box-shadow: 0 0 0 0.1rem #E88431;
}

.section7 .box-form .form-submit {
  font-size: 20px;
  font-weight: 300;
  border-radius: 35px;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  height: 60px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  width: 280px;
  position: relative;
  margin: 3rem 0;
}

.section7 .box-form .form-submit:hover {
  color: #E88431;
  border-color: #E88431;
}

.section7 .box-form .form-submit:hover::after, .section7 .box-form .form-submit:hover::before {
  background-color: #E88431;
}

.section7 .box-form .form-submit:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.section7 .box-form .form-submit::after {
  content: "";
  position: absolute;
  left: 110%;
  width: 130%;
  height: 2px;
  background-color: #707070;
  top: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section7 .box-form .form-submit::before {
  content: "";
  position: absolute;
  right: 110%;
  width: 130%;
  height: 2px;
  background-color: #707070;
  top: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 1200px) {
  .section7 .box-form .form-submit::after, .section7 .box-form .form-submit::before {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .section7 .box-form .form-submit {
    height: 35px;
    width: 140px;
    font-size: 15px;
  }
  .section7 .box-form .form-submit::after, .section7 .box-form .form-submit::before {
    width: 160%;
  }
}

@media screen and (max-width: 500px) {
  .section7 .box-form .form-submit::after, .section7 .box-form .form-submit::before {
    width: 55%;
  }
}

.section7 .icon-contact {
  margin-top: 2rem;
}

.section7 .icon-contact a {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  color: gray;
}

.section7 .icon-contact a img {
  width: 47px;
}

.section7 .icon-contact a p {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0 0;
}

.section7 .icon-contact #line_contact:hover {
  text-decoration: none;
  color: #60c162;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.section7 .icon-contact #fb_contact:hover {
  text-decoration: none;
  color: #4f74b7;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.section7 .icon-contact #ig_contact:hover {
  text-decoration: none;
  color: #f04a79;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media screen and (max-width: 800px) {
  .section7 .icon-contact {
    margin-top: unset;
  }
  .section7 .icon-contact a p {
    font-size: 15px;
  }
}

.section7 .box-map {
  margin: 3rem 0 1rem;
}

.section7 .box-map img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.section7 .box-map img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.section7 .box-map .text-contact,
.section7 .box-map .text-content-mobile {
  position: relative;
  margin-top: 10px;
}

.section7 .box-map .text-contact span,
.section7 .box-map .text-content-mobile span {
  font-size: 15px;
  font-weight: 300;
  color: #000;
}

@media screen and (max-width: 800px) {
  .section7 .box-map .text-contact span,
  .section7 .box-map .text-content-mobile span {
    font-size: 13px;
  }
}

.section7 .box-map .text-contact .tel,
.section7 .box-map .text-content-mobile .tel {
  margin-right: 1rem;
}

.section7 .box-map .text-contact .address,
.section7 .box-map .text-content-mobile .address {
  position: absolute;
  right: 0;
}

@media screen and (max-width: 500px) {
  .section7 .box-map .text-contact .tel,
  .section7 .box-map .text-content-mobile .tel {
    margin-bottom: 1rem;
    display: block;
  }
  .section7 .box-map .text-contact .address,
  .section7 .box-map .text-content-mobile .address {
    position: unset;
    right: unset;
    display: block;
    margin-bottom: 1rem;
  }
}

.text-main {
  font-size: 40px;
  font-weight: 400;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  border-bottom: 1px solid #C5C5C5;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .text-main {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .text-main {
    margin: auto;
    font-size: 18px;
    margin-bottom: 1rem;
  }
}

.text-detail {
  font-size: 20px;
  font-weight: 300;
  word-break: break-all;
}

@media screen and (max-width: 1200px) {
  .text-detail {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .text-detail {
    font-size: 15px;
    text-indent: 30px;
  }
}

@-webkit-keyframes typeWrite {
  from {
    width: 0;
  }
  to {
    @media screen and (max-width: 500px) {
      width: 13rem;
    }
    @media screen and (min-width: 768px) {
      width: 22rem;
    }
  }
}

@keyframes typeWrite {
  from {
    width: 0;
  }
  to {
    @media screen and (max-width: 500px) {
      width: 13rem;
    }
    @media screen and (min-width: 768px) {
      width: 22rem;
    }
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: #E88431;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #E88431;
  }
  to {
    border-right-color: transparent;
  }
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes left_to_right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}

@keyframes left_to_right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}

@-webkit-keyframes top-right-to-bottom-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, -100%, 0);
            transform: translate3d(100%, -100%, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, -100%, 0);
            transform: translate3d(100%, -100%, 0);
  }
}

@keyframes top-right-to-bottom-left {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, -100%, 0);
            transform: translate3d(100%, -100%, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, -100%, 0);
            transform: translate3d(100%, -100%, 0);
  }
}

footer {
  background: #212121;
  color: #fff;
  padding: 5rem 10% 1rem;
}

footer h2 {
  font-size: 20px;
  font-weight: 400;
}

footer p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: unset;
  color: #C5C5C5;
}

footer a {
  display: block;
  color: #C5C5C5;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

footer a:hover {
  text-decoration: none;
  color: #E88431;
}

footer .set-pad {
  padding: 0 3rem 2rem 0;
}

@media screen and (max-width: 1200px) {
  footer {
    padding-top: 2rem;
  }
  footer p {
    font-size: 13px;
  }
  footer a {
    font-size: 13px;
    line-height: 25px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    text-align: center;
    padding: 1rem 15%;
  }
  footer .set-pad {
    padding: 0 0 1rem;
  }
}

footer .social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .social img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

footer .social img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

footer .small-map {
  width: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

footer .small-map:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

footer .copyright {
  margin-top: 3rem;
}

footer .copyright .set-center {
  text-align: right;
}

footer .copyright h5 {
  display: contents;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: unset;
}

@media screen and (max-width: 1200px) {
  footer .copyright {
    margin-top: 1rem;
  }
  footer .copyright h5 {
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  footer .copyright {
    margin-top: 1rem;
  }
  footer .copyright .set-center {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */