@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
}

.navbar-custom {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #fff;
}

.section1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.section1 .bg-head {
  background-image: url(../images/bg-head.png);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -10;
  height: 100%;
}

.section1 .around-the-moon {
  position: absolute;
  right: 2rem;
  top: 3rem;
  width: 23%;
  z-index: -9;
  -webkit-animation: circle 20s linear infinite;
          animation: circle 20s linear infinite;
}

.section1 .cloud-img {
  position: absolute;
  width: 65%;
  bottom: 5%;
  z-index: -8;
  -webkit-animation: left_to_right 45s linear infinite;
          animation: left_to_right 45s linear infinite;
}

.section1 .box-head {
  padding: 15% 15% 0;
}

.section1 .box-head h1 {
  text-transform: uppercase;
  font-size: 70px;
  margin: unset;
  font-weight: 500;
}

.section1 .box-head h1 img {
  width: 32px;
  margin-right: 5px;
  vertical-align: unset;
}

.section1 .box-head h1 span {
  background: -webkit-gradient(linear, left top, left bottom, from(#f19c1d), to(#e53d09));
  background: linear-gradient(#f19c1d, #e53d09);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1 .box-head p {
  font-size: 25px;
  font-weight: 300;
}

.section1 .box-head .btn-link {
  font-size: 15px;
  font-weight: 300;
  border-radius: 25px;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  height: 50px;
  line-height: 35px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.section1 .box-head .btn-link:hover {
  color: #E88431;
  border-color: #E88431;
}

.section1 .box-head .btn-link:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.section2 {
  height: 100%;
  padding-top: 3rem;
}

.section2 .about-us {
  padding: 0 10% 0 15%;
}

.section2 .spin-circle {
  position: absolute;
  right: 26%;
  z-index: -10;
  top: 18%;
  width: 45%;
  -webkit-animation: circle 10s linear infinite;
          animation: circle 10s linear infinite;
}

.section2 .why-choose {
  padding: 5rem 5rem 0;
}

.section2 .why-choose .box-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.section2 .why-choose .box-icon {
  margin-right: 2rem;
  padding-top: 10px;
}

.section2 .why-choose .box-icon img {
  width: 40px;
}

.section2 .why-choose .box-text {
  width: 245px;
}

.section2 .why-choose .box-text h5 {
  font-size: 30px;
  font-weight: 400;
}

.section2 .why-choose .box-text p {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: unset;
}

.section2 .about-us-footer {
  margin: 3rem 20%;
}

.section2 .about-us-footer .set-pad {
  text-align: center;
  padding: 0 2rem;
}

.section2 .about-us-footer .text-about-footer {
  margin: 5rem 0;
  text-align: center;
  color: #E88431;
  font-size: 40px;
  font-weight: 400;
}

.section3 {
  padding: 7rem 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.section3 .line-animate {
  position: absolute;
  width: 25%;
  -webkit-animation: top-right-to-bottom-left 5s infinite;
          animation: top-right-to-bottom-left 5s infinite;
}

.section3 .our-service {
  padding: 0 15%;
}

.section3 .our-service .box-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .our-service .box-service .service-icon {
  margin-right: 1rem;
}

.section3 .our-service .box-service .service-icon img {
  width: 56px;
}

.section3 .our-service .box-service .service-text {
  padding-left: 1rem;
  border-left: 1px solid #C5C5C5;
}

.section3 .our-service .box-service .service-text h5 {
  font-size: 20px;
  font-weight: 400;
}

.section3 .our-service .box-service .service-text p {
  font-size: 15px;
  font-weight: 300;
  margin: unset;
}

.section3 .our-service .box-service .service-text a {
  margin-top: 10px;
  position: absolute;
  color: #000;
  font-size: 15px;
  font-weight: 300;
}

.section3 .our-service .box-service .service-text a:hover {
  text-decoration: none;
}

.section3 .our-service .box-service .service-text a img {
  vertical-align: unset;
}

.text-main {
  font-size: 40px;
  font-weight: 400;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  border-bottom: 1px solid #C5C5C5;
}

.text-detail {
  font-size: 20px;
  font-weight: 300;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes left_to_right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}

@keyframes left_to_right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}

@-webkit-keyframes top-right-to-bottom-left {
  0% {
    top: -20%;
    right: -23%;
    opacity: 0;
  }
  50% {
    top: 10%;
    right: -3%;
    opacity: 1;
  }
  100% {
    top: -20%;
    right: -23%;
    opacity: 0;
  }
}

@keyframes top-right-to-bottom-left {
  0% {
    top: -20%;
    right: -23%;
    opacity: 0;
  }
  50% {
    top: 10%;
    right: -3%;
    opacity: 1;
  }
  100% {
    top: -20%;
    right: -23%;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */